/* PeregrineLabsPage.module.css */

.body {
  background: url('../public/next.svg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.html,
.body {
  overflow: hidden;
}
.invertColors {
  filter: invert(1); /* Invert the colors */
}

.textsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textsContainer p {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.textsContainer p.active {
  opacity: 1;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.footer {
  display: block;
  padding: 2rem;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
}
